
<div class = "container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved Articles</a>
      <button type="button" href = "/scrape" class="btn btn-outline-primary btn-sm"><a href = "/scrape">Scrape Articles</a></button>
      <button type="button" href = "/clear" class="btn btn-outline-danger btn-sm">  <a href = "/clear">Clear Articles</a></button>
    </div>
  </div>
</nav>

<div id = "accent">
  
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Psychology Today Article Scraper</h1>
    <p class="lead">Hit the blue button to scrape its latest articles. Visit articles saved to read later in the saved page </p>
  </div>
</div>

      <div class="results">
       

<div article-id={{_id}} class="card">
 {{#each results}}
  <div  class="card-header bg-info">
    <a class="card-title" href={{link}} target="_blank">{{title}}</a>
    <p class="card-text">{{description}}</p>
  </div>
  <div class="card-body">
    
    <button type="button" id = "SaveBtn" class="btn btn-outline-success"> Save Article</button>
  </div>

</div>

{{/each}}

      </div>



                  </div>