
<div class = "container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home </a>
      <a class="nav-item nav-link" href="/saved">Saved Articles<span class="sr-only">(current)</span></a>
      <button type="button" class="btn btn-outline-primary btn-sm">Scrape Articles</button>
      <button type="button" class="btn btn-outline-danger btn-sm">Clear Articles</button>
    </div>
  </div>
</nav>

<div id = "accent2">
  
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Insert Name Here</h1>
    <p class="lead">Save your articles here instructions</p>
  </div>
</div>

      <div class="newsHolder">

<div class="card">
  <div class="card-header bg-warning">
    Featured
  </div>
  <div class="card-body">
    This is some text within a card body.
    <button type="button" id = "deleteBtn" class="btn btn-outline-warning"> Add a Comment</button>
    <button type="button" id = "commentBtn" class="btn btn-outline-danger">Delete from Saved</button>
  </div>
</div>

      </div>

                  </div>
                 