#accent{

background-color: #17a2b8;
width: auto;
height: 24px;

}


#accent2{

    background-color: #ffc107;
    width: auto;
    height: 24px;
    
    }

#SaveBtn, #commentBtn, #deleteBtn{

float: right;



}

